@import url(menus.css);
@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap";

:root {
    --light: #fff;
    --dark: #000;
    --background: rgb(4,47,27);
    --alt: #2a3439;
    --gradient: linear-gradient(43deg, rgba(4,47,27,1) 0%, rgba(8,26,44,1) 100%, rgba(8,26,44,1) 100%);
    --font: 'Nunito', sans-serif;
}

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: var(--font);
    color: var(--light);
    /* overflow: hidden; */
    background: var(--alt);
    background-image: var(--gradient);
    background-size: cover;
    background-position: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

*::-webkit-scrollbar {
    display: none;
}

img {
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*MARK: HOME*/

#mainContainer {
    box-sizing: border-box;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    text-align: center;

    #mainContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        img {
            width: 40%;
            height: auto;
            margin-block: 1rem;
            margin-inline: auto;
        }

        h1 {
            font-size: 2.5rem;
            margin: 0.5rem 0;
        }

        h2 {
            font-size: 1.5rem;
            margin: 0.5rem 0;
        }

        @media screen and (max-width: 767px) {
            img {
                width: 80%;
            }

            h1 {
                font-size: 1.9rem;
            }

            h2 {
                font-size: 1.1rem;
            }
        }
    }

    #bottomLinks {
        padding: 1rem 0;
        box-sizing: border-box;
        justify-self: flex-end;
        position: relative;

        #links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
            padding-bottom: 1rem;

            a {
                font-size: 1.5rem;
                color: rgb(255, 255, 255);
                font-weight: 500;

                img {
                    width: 3rem;
                    height: 3rem;
                    transition: scale 0.3s ease;

                    &:hover {
                        scale: 1.1;
                    }
                }
            }
        }

        &::after {
            content: "^ Have feedback? Join our Discord!";
            position: absolute;
            bottom: 1rem;
            left: 0;
            width: 0;
            height: 1rem;
            white-space: nowrap;
            overflow: visible;
            font-size: small;
            text-align: left;
        }
    }

    &::before {
    content: "GRAB Tutorials is a fan-made tutorial site for GRAB VR, we’re not officially connected to SlinDev in any way.";
    position: absolute;
    bottom: 6rem;
    left: 0.5rem;
    font-family: var(--font);
    font-size: 1rem;
    color: white;
    background-color: rgba(0,0,0,0.4);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    pointer-events: none;
    white-space: normal;
    max-width: 90%;
    word-wrap: break-word;
    }
}

/*END HOME*/

/* MARK: CARD MENU */

.cardMain {
    transition: filter 1s linear;
    pointer-events: none;
}

#help {
    text-align: center;
    height: 31.25rem;
    width: 40vw;
    position: fixed;
    bottom: -2.5rem;
    left: 50%;
    background-color: rgb(23, 23, 23);
    border-radius: 1.5625rem;
    transform: translate(-50%, 80%);
    align-items: center;
    -ms-flex-align: center;
    transition: transform 0.3s, left 0.3s, top 0.3s, opacity 0.3s;
    opacity: 0;
    z-index: 10000001;
    pointer-events: none;
    display: none;

    h2 {
        color: white;
        font-family: 'nunito', sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }  

    #helpContainer {
        position: absolute;
        transform: translate(-50%, 0%);
        width: 90%;
        height: 79%;
        left: 50%;
        background-color: rgb(39, 39, 39);
        border-radius: 25px;
        align-items: center;
        font-family: 'nunito', sans-serif;

        p {
            color: white;
        }

        #helpOne, #helpTwo, #helpThree, #helpFour, #helpFive, #helpSix, #helpSeven, #helpEight {
            top: 20%;
            position: absolute;
            left: 50%;
            width: 80%;
            transform: translate(-50%, -50%);
        }

        #helpOne {
            opacity: 1;
        }

        #helpTwo, #helpThree, #helpFour, #helpFive, #helpSix, #helpSeven, #helpEight {
            opacity: 0;
        }
    }
}

#help:hover {
    transform: translate(-50%, 70%);
    cursor: pointer;
}

#help.active {
    transform: translate(-50%, 40%);
    transition: transform 0.3s, left 0.3s, top 0.3s;
    opacity: 1;
}

@media (max-width: 767px) {
    #help {
        width: 75%;
        
        h2 {
            font-size: 1.2rem;
        }

        #helpContainer {
            width: 90%;
            height: 80%;

            p {
                font-size: 0.8rem;
                padding-bottom: 10vw;
            }
        }
    }

    #help.active {
        transform: translate(-50%, 50%);
    }
}

#text {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    text-align: center;
    opacity: 0;
    z-index: 10000001;
    pointer-events: auto;
    cursor: auto;
    display: none;
    transition: opacity 0.3s ease-in-out;
    background-color: rgb(23, 23, 23);
    border-radius: 25px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    h2 {
        color: white;
        font-family: 'nunito', sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
    }

    #num {
        color: white;
        font-family: 'nunito', sans-serif;
        font-weight: 500;
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    #text {
        width: 75%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
            font-size: 1.2rem;
        }

        #num {
            font-size: 0.8rem;
        }
    }
}

.safetyNet {
    width: 550px;
    height: 284.01px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, left 0.3s, top 0.3s;
    pointer-events: auto;
    display: none;
    z-index: -100;
    border-radius: 25px;
}

#safetyNetMiddle {
    transform: translate(-50%, -50%) scale(1.4);
}

#safetyNetRight {
    left: 99%;
}

#safetyNetLeft {
    left: 1%;
}

@media (max-width: 767px) {
    .safetyNet {
        width: 250px;
        height: 130px;
        border-radius: 15px;
    }
}

.card, .cardTwo {
    width: 550px;
    height: auto;
    position: absolute;
    left: 99%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s cubic-bezier(0.4,0,0.2,1), left 0.5s cubic-bezier(0.4,0,0.2,1);
    pointer-events: auto;
}

.cardOne {
    width: 550px;
    height: auto;
    position: absolute;
    top: 50%;
    transition: transform 0.5s cubic-bezier(0.4,0,0.2,1), left 0.5s cubic-bezier(0.4,0,0.2,1);
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    pointer-events: none;
    z-index: 3;
}

.cardOne.active {
    left: 1%;
    transform: translate(-50%, -50%);
    z-index: 12;
    cursor: pointer;
    pointer-events: auto;
}

.cardOne.active:hover {
    transform: translate(-40%, -50%);
    cursor: pointer;
}  

.card:hover {
    transform: translate(-60%, -50%);
    cursor: pointer;
}

.card.activeTwo:hover {
    transform: translate(-40%, -50%);
    cursor: pointer;
}  

.card.active {
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    pointer-events: none;
    z-index: 100;
}

.card.activeTwo {
    left: 1%;
    transform: translate(-50%, -50%);
    z-index: 12;
    cursor: pointer;
    pointer-events: auto;
}

@media (max-width: 767px) {
    .card, .cardTwo {
        width: 250px;
    }

    .cardOne {
        width: 250px;
    }
}

.cardContainer {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(63, 61, 61, 0.7);
    opacity: 0;
    z-index: 10000000; 
    transition: opacity 0.3s, display 0s 0.3s;
    pointer-events: auto;
    display: none;
}

.cardContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

/* END CARD MENU */

/* mobile cards are blurry and i dont know why! */

/* this is here because something above is conflicting and i cant be bothered to fix it */

.indexOne {
    z-index: 0;
}

.indexTwo {
    z-index: -1;
}

.indexThree {
    z-index: -2;
}

.indexFour {
    z-index: -3;
}

.indexFive {
    z-index: -4;
}

.indexSix {
    z-index: -5;
}

.indexSeven {
    z-index: -6;
}

.indexEight {
    z-index: -7;
}

.indexNine {
    z-index: -8;
}

.indexTen {
    z-index: -9;
}

.indexEleven {
    z-index: -10;
}
